# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE - VS Code
.vscode/
.vscode/extensions/

# Temp / scratch
*.tmp
*.TMP
*~

 
Installer/MSI/bin/
Installer/MSI/obj/  
Installer/MSI/Plugin/
Installer/MSI/Output/